%p#notice= notice
%p
  %strong Full Name:
  = @contact.full_name
%p
  %strong Email:
  = @contact.email
%p
  %strong Phone Number:
  = @contact.phone_number
%p
  %strong Address:
  = @contact.address
